* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffb900;
  --font-heading: Sen, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff;
  background: #171100;
  border-radius: 999px;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.heading {
  font-family: var(--font-heading);
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #171100;
}

.heading.lv1 {
  font-size: 5.8rem;
  line-height: 1.17;
}

.heading.lv2 {
  font-size: 3.8rem;
  line-height: 1.26;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

/* .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.break-all {
    word-break: break-all;
} */

/* Header */
.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  padding: 8px 21px;
  font-size: 1.6rem;
  color: #5f5b53;
}

.nav a:hover,
.nav li.active a {
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}

.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  background: #171100;
  border-radius: 1px;
}

.header .sign-up-btn {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

/* Hero */
.hero {
  padding: 56px 0 65px;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}
/* Hero left */
.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block img {
  position: relative;
  width: 470px;
  height: 685px;
  border-radius: 20px;
  object-fit: cover;
  display: block;
}
.hero-summary {
  padding: 28px 24px;
  position: absolute;
  right: 0;
  bottom: 48px;
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}
.hero-summary .item .icon {
  position: relative;
  border-radius: 50%;
  background: #fff9e8;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.hero-summary .item .icon3 {
  margin-left: -30px;
}
.hero-summary .item img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -11px;
  width: 24px;
  height: 24px;
  align-items: center;
  display: block;
}
.hero-summary .item .info {
  margin-left: 16px;
}
.hero-summary .item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 22px;
}
.hero-summary .item .info .label {
  font-weight: 400;
  font-size: 1.4rem;
  color: #5f5b53;
}
.hero-summary .item .title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67rem;
  color: #171100;
}
/*===========Hero left=============*/
.hero .content-block {
  width: 52%;
  padding: 64px 0 0 130px;
}
.hero .content-block .heading {
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #171100;
}
.hero .content-block .desc {
  margin-top: 22px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */

  color: #5f5b53;
}

.hero .cta-group {
  display: flex;
  align-items: center;
  margin: 38px 0 48px;
}
.hero-cta {
  min-width: 180px;
  line-height: 64px;
  background-color: var(--primary-color);
}
.hero .watch-video {
  border: none;
  background: transparent;
  display: flex;
  margin-left: 28px;
  align-items: center;
  cursor: pointer;
}
.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}
.hero .watch-video span {
  margin-left: 14px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */

  color: #171100;
}
.hero .cta-group .desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */

  color: #5f5b53;
}
.hero .content-block .desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */

  color: #5f5b53;
}
.hero .content-block {
  margin-left: 28px;
}
.hero .content-block .stats strong {
  padding: 0 8px 0 28px;
  font-weight: 700;
  font-family: var(--font-heading);
  font-size: 44px;
  line-height: 54px;
  /* identical to box height, or 123% */

  color: #171100;
}
.hero .stats {
  margin: 0 0 0 -28px;
}
/*Popular*/
.popular {
  padding: 65px 0;
  margin-top: 135px;
}
.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}
.popular-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular-top .control {
  display: flex;
  gap: 18px;
}
.popular-top .control-btn {
  border: 1px solid var(--primary-color);
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: var(--primary-color);
}
.popular-top .control-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

.popular .course-list {
  gap: 30px;
  display: flex;
  margin-top: 55px;
}
.popular .course-item {
  background: #ffffff;
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  flex: 1;
}
.popular .course-item:hover {
  border-color: transparent;
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.1);
}

.popular .course-item .thumb {
  width: calc(100% + 2px);
  border-radius: 12px 12px 0px 0px;
  height: 278px;
  margin: -1px;
  object-fit: cover;
}
.course-item .info {
  padding: 16px 22px 22px;
}
.course-item .title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;

  color: #171100;
}
.course-item .foot,
.course-item .rating,
.course-item .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-item .head .value {
  margin-left: 6px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: var(--primary-color);
}
.course-item .info .desc {
  margin-top: 6px;
  font-size: 1.4rem;
  line-height: 1.86;

  color: #5f5b53;
}
.course-item .foot .price {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;

  color: #171100;
}
.course-item .foot .book-btn {
  border: none;
}
.course-item .foot .book-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}
/*Feedback*/
.feedback {
  background: #2e2100;
  margin-top: 195px;
  padding: 96px 0;
}
.feedback-item {
  display: flex;
}

.feedback-item .info .avatar {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
}

.feedback-item .info .title {
  font-family: var(--font-heading);
  margin-top: 18px;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  /* identical to box height, or 142% */
  color: #f7f7f7;
}
.feedback-item .info .desc {
  margin-top: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */

  color: #bfbcb3;
}
.feedback-item .info .dots {
  display: flex;
  margin-top: 28px;
  cursor: pointer;
}
.feedback-item .info .dot.active {
  background-color: var(--primary-color);
  cursor: pointer;
}

.feedback-item .info .dot {
  margin-right: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #634700;
}
.feedback-item .content {
  width: 65%;
  margin-left: auto;
}
.feedback-item .content blockquote {
  margin-left: 30px;
  font-style: italic;
  font-size: 2.6rem;
  line-height: 1.54;
  color: #ffffff;
}

/*feature*/
.feature {
  margin-top: 195px;
}
.feature-item-top {
  justify-content: space-between;
  display: flex;
  position: relative;
}
.feature .feature-img {
  width: 570px;
}
.feature .feature-img .image01,
.feature .feature-img .image02 {
  width: 270px;
  height: 440px;
  border-radius: 16px;
  object-fit: cover;
}
.feature .feature-img .image02 {
  margin-left: 30px;
  top: -33px;
  position: absolute;
}
.feature .feature-info {
  margin-left: 250px;
  width: 50%;
}

.feature .feature-info .heading {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.26;

  letter-spacing: -0.02em;
  color: #171100;
}
.feature .feature-info .title {
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 28px;
  color: #5f5b53;
}

.feature .feature-info .desc {
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #5f5b53;
}
.feature-info .btn,
.feature .feature-info .btn {
  margin-top: 43px;
  background-color: var(--primary-color);
}
.feature-info .btn,
.feature .feature-info .btn .feature-btn {
  min-width: 137px;
}

/*feature bottom*/
.feature-item-bottom {
  margin-top: 195px;
}
.feature-item-bottom .feature-info .intro {
  font-family: var(--font-heading);
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1.26;
  letter-spacing: -0.02em;
  color: #171100;
}
.feature-item-bottom .feature-info .title {
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #5f5b53;
}
.feature-item-bottom .feature-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-item-bottom .feature-info .content {
  width: 50%;
}
.feature-item-bottom .feature-info .btn {
  margin-top: 32px;
}
.feature-item-bottom .feature-img {
  margin-left: 130px;
  width: 470px;
  height: 440px;
  object-fit: cover;
  border-radius: 20px;
}

/*Our Blog*/
.blog {
  margin-top: 135px;
  padding: 96px 0;
  background-color: #fffcf4;
}

.blog .blog-top {
  text-align: center;
}
.blog .blog-top .desc {
  margin: 16px auto 0;
  width: 448px;
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #696262;
}

.blog .blog-list {
  display: flex;
  gap: 30px;
  margin-top: 55px;
}
.blog .blog-item {
  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
}
.blog .blog-list .thumb {
  width: 370px;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0px 0px;
}
.blog .blog-list .info {
  padding: 20px 20px 28px;
}
.blog-list .list .date::before {
  position: absolute;
  right: 330px;
  margin-right: 4px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--primary-color);
}
.blog-list .list .date {
  position: relative;
  align-items: center;
  display: flex;
  padding-bottom: 12px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5f5b53;
}
.blog-list .list .date::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 160px;
  height: 1px;
  background: #e2dfda;
  border-radius: 0.5px;
}
.blog-list .blog-item .title a {
  display: inline-block;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #171100;
}
.blog-list .blog-item .btn:hover {
  background-color: var(--primary-color);
}
.blog-list .blog-item .btn {
  margin-top: 12px;
  font-size: 1.4rem;
}

.blog .dots {
  display: flex;
  gap: 6px;
  justify-content: center;
  margin-top: 38px;
}
.blog .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #5f5b53;
}
.blog .dot.active {
  background-color: var(--primary-color);
}

/*Footer*/
.footer {
  background-color: #2e2100;
  padding: 96px 135px 0;
}
.footer .row {
  display: flex;
  padding-bottom: 38px;
  border-bottom: 1px solid #59554b;
}
.footer .row .column {
  width: 22%;
}
.footer .row .column:first-child {
  width: 35%;
}

.footer .column .desc {
  width: 267px;
  margin-top: 18px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb2;
}
.footer .socals {
  margin-top: 18px;
  display: flex;
  gap: 18px;
}
.footer .column .heading.lv3 {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #ffffff;
}
.footer .column .list {
  margin-top: 28px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #bfbcb2;
}
.footer .column .list a {
  color: #bfbcb2;
}
.footer .column .heading.lv3::after {
  margin-top: 14px;
  content: "";
  display: block;
  width: 130px;
  height: 1px;
  background-color: #59554b;
}
.footer .column strong {
  color: #ffffff;
  font-weight: 600;
}
.footer .copy-right {
  margin-top: 28px;
  padding-bottom: 28px;
}
.footer .copy-right .desc {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  text-align: center;
  color: #807d74;
}
